/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
    background-color: #576894;
    color: white;
    padding: 16px 20px;
    border: 4px solid #FFC107;
    border-radius: 10px;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    top: 15px;
    right: 28px;
    width: 280px;
}

/* The popup form - hidden by default */
.form-popup {
    display: none;
    position: fixed;
    top: 10px;
    right: 15px;
    z-index: 9;
}

.display-on{
    display: block;
}

.display-none{
    display: none;
}


/* Add styles to the form container */
.form-container {
    max-width: 300px;
    padding: 0 10px;
    background-color: white;
    background-color: rgba(255, 255, 255, 0.7);
    border: 4px solid #FFC107;
    border-radius: 10px;
}
.form-container label{
    padding-top: 5px;
    opacity: 1;
    color: #576894;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
    width: 100%;
    padding: 5px;
    margin: 5px 0 0 0;
    border: 2px solid #FFC107;
    border-radius: 10px;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
    color: #FFC107;
    border-color: #FFC107;
    background-color: grey;
    outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
    background-color: #6F8CAC;
    color: white;
    padding: 16px 20px;
    cursor: pointer;
    width: 100%;
    margin-bottom:5px;
    opacity: 0.8;
    border: 4px solid #FFC107;
    border-radius: 10px;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
    background-color: #F2AAAD;
}
.form-container .cancel:hover {
    background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
    opacity: 1;
}