body{
    background-image: url("/static/img/background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    color: white;
}

header, footer{
    background-color: white;
    background-color: rgba(255, 255, 255, 0.3);
    text-align: center;
}

h1{
    font-size: 50pt;
}

h2{
    font-size: 35pt;
}

.table{
    background-color: white;
    background-color: rgba(255, 255, 255, 0.2);
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    font-size: 24px;
}