{% extends 'layout.html' %}

{% block head %}
{% endblock %}

{% block content %}
    <h2>Planets:</h2>
    <div id="nav-buttons">
        <button type="button" id="prev-btn">Previous</button>
        <button type="button" id="next-btn">Next</button>
    </div>
    <table class="table table-bordered">
        <thead>
            <tr>
                {% for planet_spec in planets_specs %}
                    <th scope="col">{{planet_spec}}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody id="planetsData"></tbody>
    </table>
{% endblock %}
