<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <link rel="shortcut icon" type="image/x-icon" href="/static/img/logo_cropped.png">
        <link rel="stylesheet" href="/static/css/main.css">
        <link rel="stylesheet" href="/static/css/login_form.css">
        <link rel="stylesheet" href="/static/css/normalize.css">
        <script type="text/javascript" src="/static/js/jquery.js"></script>
        <script type="text/javascript" src="/static/js/planets.js"></script>
        <script type="module"  src="/static/js/loginForm.js"></script>
        {% block head %} {% endblock %}
        <title>Star Wars universe</title>
    </head>
    <body>
        <nav class="navbar navbar-light justify-content-between">
            <a class="navbar-brand" href="/"><img style="height: 50px" src="/static/img/logo_cropped.png" alt=""></a>
            <button class="open-button" id="open-button">Log in</button>
            <div class="form-popup" id="myForm">
                <form action="#" class="form-container">
                    <label for="login"><b>Login</b>
                        <input type="text" placeholder="user login" name="login" required>
                    </label>

                    <label for="password"><b>Password</b>
                        <input type="password" placeholder="user password" name="password" required>
                    </label>

                    <button type="submit" class="btn">Login</button>
                    <button type="button" class="btn cancel" id="cancel_btn">Close</button>
                </form>
            </div>
        </nav>
        <div id="content">
            {% block content %} {% endblock %}
        </div>
        <footer>
            Created by Jedy Harnet69
        </footer>
    </body>
</html>
